.headingContainer{
    background: linear-gradient(rgb(209, 224, 255), white)
    /* border: 1px solid; */
    /* height: 100vh */
}
.serviceContainer{
    background: linear-gradient(rgb(148, 255, 235), rgb(255, 255, 255));
    padding: 30px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.serviceContainer:hover{
    background: linear-gradient(rgb(255, 255, 255), rgb(206, 255, 246));
    margin-top: -10px;
}